
<div class="pad-top">
	<%# cache do %>
	  <%# sleep 2 %>
		<p><h3>Who Are We? </h3><p>
	<%# end %>
</div>
<div class="pad-bottom-extra pad-bottom-double">

<p>Bike NYC promotes and encourages fixed gear bike riding in Manhattan.</p>
</div>