<div class="pad-top">
	<h1>Welcome to Gearhead Bikes</h1>
</div>	


 <div class="pad-top">
	<h3>Welcome to Gearhead Bikes</h3>
</div>
<%#p>Welcome! The date and time is <%= Time.now %>
<div class="pad-bottom color-bg">
<%= image_tag("bikelogo.png", class: "img-responsive my-image") %>
</div>

<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>