<div class="pad-top">
	<h3>Welcome to Gearhead Social</h3>
</div>
<%#p>Welcome! The date and time is <%= Time.now %></p>
<%= image_tag("bikelogo.png", class: "img-responsive my-image") %>
<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>