<table>

 <div class="pad-top color-bg">
	<h3>Welcome to Gearhead Bikes</h3>
</div>
<%#p>Welcome! The date and time is <%= Time.now %>
<div class="pad-bottom color-bg">
<%= image_tag("bikelogo.png", class: "img-responsive my-image") %>
</div>

<%= render partial: 'carousel' %>


</table>
<%# test_variable = 42 %>
<%#= test_variable %>
<%#= test_variable - 2 %>
