body {
  font-family: 'Raleway', sans-serif;
  font-size: 1.2em;
  line-height: 18px;
  margin: 33px;
}

.img-box {
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;
}

.product-details-box{
    position: relative;
    float: left;
    width:  200px;
    height: 200px;
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size: cover;
}

.products-form{
    //text-align: left;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.btn-color-change {
    color: #fff;
    background-color: #6C464F;
    border-color: #B3CDD1;
    position: center;
}

.btn-color-change:hover {
    color: #fff;
    background-color: #9E768F;
    border-color: #B3CDD1;
    position: center;
}
