<!-- Flash notice tags -->
<p id="notice"><%= notice %></p>

<div class="pad-top pad-bottom">
	<h1>Products</h1>
</div>


<div class="row">
 	<%= render @products %>
</div>

 
<br>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'New Product', new_product_path %>
<% end %>